.priority-tag {
    font-weight: bold;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    .green {
        color: green;
    }

    .blue {
        color: blue;
    }

    .red {
        color: red;
    }

    .yellow {
        color: yellow;
    }

}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    .green {
        color: #4CAF50; /* 更深的绿色 */
    }

    .blue {
        color: #2196F3; /* 更深的蓝色 */
    }

    .red {
        color: #F44336; /* 更深的红色 */
    }

    .yellow {
        color: #FFEB3B; /* 更深的黄色 */
    }
}